$alert-danger: rgba(218, 51, 51, 0.1) !default;
$alert-warning: #FDF3D8 !default;
$alert-success: rgba(45, 172, 58, 0.1) !default;
$alert-muted: #8A8A8A !default;
$alert-text-color: #424242 !default;
$fas-danger-alert: #DA3333 !default;
$fas-warning-alert: #f7b500 !default;
$fas-success-alert: #2DAC3A !default;
